@use "sass:map";

@mixin icon {
  /* !important to prevent issues with browser extensions that change fonts */
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: "icons" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$icons-map: (
  "2fa-filled": "\f101",
  "account-filled": "\f102",
  "add": "\f103",
  "add-caption": "\f104",
  "add-filled": "\f105",
  "add-music": "\f106",
  "add-user": "\f107",
  "add-user-filled": "\f108",
  "admin": "\f109",
  "ai": "\f10a",
  "ai-edit": "\f10b",
  "ai-fix": "\f10c",
  "allow-share": "\f10d",
  "allow-speak": "\f10e",
  "animals": "\f10f",
  "animations": "\f110",
  "animations-filled": "\f111",
  "appearance-filled": "\f112",
  "archive": "\f113",
  "archive-filled": "\f114",
  "archive-from-main": "\f115",
  "archive-to-main": "\f116",
  "arrow-down": "\f117",
  "arrow-down-circle": "\f118",
  "arrow-left": "\f119",
  "arrow-right": "\f11a",
  "article": "\f11b",
  "aspect-1-1": "\f11c",
  "aspect-16-9": "\f11d",
  "aspect-2-3": "\f11e",
  "aspect-3-2": "\f11f",
  "aspect-3-4": "\f120",
  "aspect-4-3": "\f121",
  "aspect-4-5": "\f122",
  "aspect-5-4": "\f123",
  "aspect-9-16": "\f124",
  "attach": "\f125",
  "auction": "\f126",
  "auction-drop": "\f127",
  "auction-filled": "\f128",
  "auction-next-round": "\f129",
  "author-hidden": "\f12a",
  "auto-delete-clock": "\f12b",
  "auto-delete-empty": "\f12c",
  "avatar-deleted-account": "\f12d",
  "birthday-filled": "\f12e",
  "block-filled": "\f12f",
  "blockquote": "\f130",
  "bold": "\f131",
  "boost": "\f132",
  "boost-craft-chance": "\f133",
  "boost-outline": "\f134",
  "boostcircle": "\f135",
  "boosts": "\f136",
  "bot-command": "\f137",
  "bot-commands-filled": "\f138",
  "bots": "\f139",
  "brush": "\f13a",
  "bug": "\f13b",
  "bullet-list": "\f13c",
  "button": "\f13d",
  "calendar": "\f13e",
  "camera": "\f13f",
  "camera-add": "\f140",
  "car": "\f141",
  "card": "\f142",
  "carousel": "\f143",
  "cash-circle": "\f144",
  "channel": "\f145",
  "chat-badge": "\f146",
  "chats-badge": "\f147",
  "check": "\f148",
  "check-filled": "\f149",
  "choice-selected": "\f14a",
  "clear-formatting": "\f14b",
  "clock": "\f14c",
  "clock-edit": "\f14d",
  "clock-filled": "\f14e",
  "close": "\f14f",
  "close-circle": "\f150",
  "cloud-download": "\f151",
  "code": "\f152",
  "collage": "\f153",
  "collapse": "\f154",
  "collapse-modal": "\f155",
  "colorize": "\f156",
  "combine-craft": "\f157",
  "comments": "\f158",
  "copy": "\f159",
  "copy-media": "\f15a",
  "craft": "\f15b",
  "crop": "\f15c",
  "crown-take-off": "\f15d",
  "crown-take-off-outline": "\f15e",
  "crown-wear": "\f15f",
  "crown-wear-outline": "\f160",
  "darkmode": "\f161",
  "data": "\f162",
  "delete": "\f163",
  "delete-left": "\f164",
  "delete-user": "\f165",
  "details-block": "\f166",
  "device-android": "\f167",
  "device-apple": "\f168",
  "device-linux": "\f169",
  "device-ubuntu": "\f16a",
  "device-unknown": "\f16b",
  "device-weba": "\f16c",
  "device-webk": "\f16d",
  "device-windows": "\f16e",
  "devices-filled": "\f16f",
  "diamond": "\f170",
  "diamonds-lock": "\f171",
  "diamonds-refund": "\f172",
  "direct": "\f173",
  "document": "\f174",
  "double-badge": "\f175",
  "down": "\f176",
  "download": "\f177",
  "dropdown-arrows": "\f178",
  "eats": "\f179",
  "edit": "\f17a",
  "email": "\f17b",
  "enter": "\f17c",
  "expand": "\f17d",
  "expand-modal": "\f17e",
  "eye": "\f17f",
  "eye-crossed": "\f180",
  "eye-crossed-outline": "\f181",
  "eye-outline": "\f182",
  "file-badge": "\f183",
  "flag": "\f184",
  "flag-filled": "\f185",
  "flip": "\f186",
  "folder": "\f187",
  "folder-filled": "\f188",
  "folder-tabs-bot": "\f189",
  "folder-tabs-chats": "\f18a",
  "footer": "\f18b",
  "formula": "\f18c",
  "forums": "\f18d",
  "forward": "\f18e",
  "fragment": "\f18f",
  "frozen-time": "\f190",
  "fullscreen": "\f191",
  "gifs": "\f192",
  "gift": "\f193",
  "gift-filled": "\f194",
  "gift-transfer-inline": "\f195",
  "gram-filled": "\f196",
  "group": "\f197",
  "group-filled": "\f198",
  "grouped": "\f199",
  "grouped-disable": "\f19a",
  "hand-stop": "\f19b",
  "hand-stop-filled": "\f19c",
  "hashtag": "\f19d",
  "hd-photo": "\f19e",
  "heading": "\f19f",
  "heading-1": "\f1a0",
  "heading-2": "\f1a1",
  "heading-3": "\f1a2",
  "heading-4": "\f1a3",
  "heading-5": "\f1a4",
  "heading-6": "\f1a5",
  "heart": "\f1a6",
  "heart-outline": "\f1a7",
  "help": "\f1a8",
  "help-filled": "\f1a9",
  "info": "\f1aa",
  "info-filled": "\f1ab",
  "install": "\f1ac",
  "italic": "\f1ad",
  "key": "\f1ae",
  "key-filled": "\f1af",
  "keyboard": "\f1b0",
  "lamp": "\f1b1",
  "language": "\f1b2",
  "link": "\f1b3",
  "link-badge": "\f1b4",
  "link-broken": "\f1b5",
  "list": "\f1b6",
  "location": "\f1b7",
  "location-filled": "\f1b8",
  "lock": "\f1b9",
  "lock-crossed": "\f1ba",
  "lock-filled": "\f1bb",
  "logout": "\f1bc",
  "loop": "\f1bd",
  "mark": "\f1be",
  "media": "\f1bf",
  "media-add": "\f1c0",
  "media-crossed": "\f1c1",
  "megaphone-filled": "\f1c2",
  "mention": "\f1c3",
  "mention-filled": "\f1c4",
  "menu": "\f1c5",
  "message": "\f1c6",
  "message-failed": "\f1c7",
  "message-pending": "\f1c8",
  "message-read": "\f1c9",
  "microphone": "\f1ca",
  "microphone-outline": "\f1cb",
  "monospace": "\f1cc",
  "more": "\f1cd",
  "move-caption-down": "\f1ce",
  "move-caption-up": "\f1cf",
  "music-note": "\f1d0",
  "mute": "\f1d1",
  "muted": "\f1d2",
  "my-notes": "\f1d3",
  "new-chat-filled": "\f1d4",
  "new-send": "\f1d5",
  "next": "\f1d6",
  "next-link": "\f1d7",
  "no-download": "\f1d8",
  "no-share": "\f1d9",
  "nochannel": "\f1da",
  "non-contacts": "\f1db",
  "note": "\f1dc",
  "note-filled": "\f1dd",
  "notifications-filled": "\f1de",
  "numbered-list": "\f1df",
  "one-filled": "\f1e0",
  "open-in-new-tab": "\f1e1",
  "order": "\f1e2",
  "pause": "\f1e3",
  "pause-circle": "\f1e4",
  "permissions": "\f1e5",
  "phone": "\f1e6",
  "phone-discard": "\f1e7",
  "phone-filled": "\f1e8",
  "piechart-filled": "\f1e9",
  "pin": "\f1ea",
  "pin-filled": "\f1eb",
  "pin-list": "\f1ec",
  "pip": "\f1ed",
  "play": "\f1ee",
  "play-story": "\f1ef",
  "poll": "\f1f0",
  "poll-badge": "\f1f1",
  "previous": "\f1f2",
  "previous-link": "\f1f3",
  "privacy-policy": "\f1f4",
  "privacy-policy-filled": "\f1f5",
  "profile-music": "\f1f6",
  "proof-of-ownership": "\f1f7",
  "pullquote": "\f1f8",
  "quote": "\f1f9",
  "quote-close": "\f1fa",
  "quote-open": "\f1fb",
  "radial-badge": "\f1fc",
  "rating-icons-level1": "\f1fd",
  "rating-icons-level10": "\f1fe",
  "rating-icons-level2": "\f1ff",
  "rating-icons-level20": "\f200",
  "rating-icons-level3": "\f201",
  "rating-icons-level30": "\f202",
  "rating-icons-level4": "\f203",
  "rating-icons-level40": "\f204",
  "rating-icons-level5": "\f205",
  "rating-icons-level50": "\f206",
  "rating-icons-level6": "\f207",
  "rating-icons-level60": "\f208",
  "rating-icons-level7": "\f209",
  "rating-icons-level70": "\f20a",
  "rating-icons-level8": "\f20b",
  "rating-icons-level80": "\f20c",
  "rating-icons-level9": "\f20d",
  "rating-icons-level90": "\f20e",
  "rating-icons-negative": "\f20f",
  "readchats": "\f210",
  "record-dot": "\f211",
  "record-play": "\f212",
  "redo": "\f213",
  "reload": "\f214",
  "reload-arrows": "\f215",
  "remove": "\f216",
  "remove-music": "\f217",
  "remove-quote": "\f218",
  "reopen-topic": "\f219",
  "reorder-tabs": "\f21a",
  "repeat": "\f21b",
  "repeat-one": "\f21c",
  "repeat-order": "\f21d",
  "repeat-shuffle": "\f21e",
  "replace": "\f21f",
  "replace-round": "\f220",
  "replies": "\f221",
  "reply": "\f222",
  "reply-filled": "\f223",
  "revenue-split": "\f224",
  "revote": "\f225",
  "rotate": "\f226",
  "round-video": "\f227",
  "save-story": "\f228",
  "saved-messages": "\f229",
  "saved-messages-filled": "\f22a",
  "schedule": "\f22b",
  "sd-photo": "\f22c",
  "search": "\f22d",
  "select": "\f22e",
  "select-filled": "\f22f",
  "sell": "\f230",
  "sell-outline": "\f231",
  "send": "\f232",
  "send-outline": "\f233",
  "settings": "\f234",
  "settings-filled": "\f235",
  "share-filled": "\f236",
  "share-screen": "\f237",
  "share-screen-stop": "\f238",
  "show-message": "\f239",
  "shuffle": "\f23a",
  "sidebar": "\f23b",
  "skip-next": "\f23c",
  "skip-previous": "\f23d",
  "smallscreen": "\f23e",
  "smile": "\f23f",
  "smile-filled": "\f240",
  "sort-by-date": "\f241",
  "sort-by-number": "\f242",
  "sort-by-price": "\f243",
  "speaker": "\f244",
  "speaker-muted-story": "\f245",
  "speaker-story": "\f246",
  "spoiler": "\f247",
  "spoiler-disable": "\f248",
  "spoiler-text": "\f249",
  "sport": "\f24a",
  "star-regular": "\f24b",
  "star-regular-filled": "\f24c",
  "stats": "\f24d",
  "stealth-future": "\f24e",
  "stealth-past": "\f24f",
  "stickers": "\f250",
  "stop": "\f251",
  "stop-raising-hand": "\f252",
  "stop-square": "\f253",
  "story-caption": "\f254",
  "story-expired": "\f255",
  "story-priority": "\f256",
  "story-reply": "\f257",
  "strikethrough": "\f258",
  "subscript": "\f259",
  "superscript": "\f25a",
  "support-filled": "\f25b",
  "table": "\f25c",
  "table-align-bottom": "\f25d",
  "table-align-center": "\f25e",
  "table-align-left": "\f25f",
  "table-align-middle": "\f260",
  "table-align-right": "\f261",
  "table-align-top": "\f262",
  "table-borderless": "\f263",
  "table-compact": "\f264",
  "table-delete": "\f265",
  "table-fill": "\f266",
  "table-insert-above": "\f267",
  "table-insert-below": "\f268",
  "table-insert-left": "\f269",
  "table-insert-right": "\f26a",
  "table-merge-horizontal": "\f26b",
  "table-merge-vertical": "\f26c",
  "table-move-left": "\f26d",
  "table-move-right": "\f26e",
  "table-split-horizontal": "\f26f",
  "table-split-vertical": "\f270",
  "table-striped": "\f271",
  "tag": "\f272",
  "tag-crossed": "\f273",
  "tag-filter": "\f274",
  "tag-name": "\f275",
  "task-list": "\f276",
  "timer": "\f277",
  "timer-filled": "\f278",
  "toncoin": "\f279",
  "tone": "\f27a",
  "tools": "\f27b",
  "topic-new": "\f27c",
  "trade": "\f27d",
  "transcribe": "\f27e",
  "truck": "\f27f",
  "unarchive": "\f280",
  "underlined": "\f281",
  "understood": "\f282",
  "undo": "\f283",
  "unique-profile": "\f284",
  "unlist": "\f285",
  "unlist-outline": "\f286",
  "unlock": "\f287",
  "unlock-badge": "\f288",
  "unmute": "\f289",
  "unpin": "\f28a",
  "unread": "\f28b",
  "up": "\f28c",
  "user": "\f28d",
  "user-diamonds": "\f28e",
  "user-filled": "\f28f",
  "user-online": "\f290",
  "user-tag": "\f291",
  "video": "\f292",
  "video-outlined": "\f293",
  "video-stop": "\f294",
  "view-once": "\f295",
  "voice-chat": "\f296",
  "volume-1": "\f297",
  "volume-2": "\f298",
  "warning": "\f299",
  "web": "\f29a",
  "web-filled": "\f29b",
  "webapp": "\f29c",
  "word-wrap": "\f29d",
  "zoom-in": "\f29e",
  "zoom-out": "\f29f",
);
